<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}">
    <link rel="shortcut icon" type="image/png" href="https://img.freepik.com/vetores-premium/letra-c-ou-iniciais-cc-ouro-luxo-dourado-elegante-elegante-simples-minimal-icone-vector-logo-design_216988-1942.jpg">
    <title>CritiCard - Cadastro</title>
</head>
<body>
    <div class="Container">
        <header><h2>CRIE SEU CARD</h2></header>
        <form method="POST" enctype="multipart/form-data">
            TITULO: <input type="text" placeholder="Crie um titulo..." maxlength="15" name="titulo" required>
            CAPA: <label for="capa"><img src="" id="Card_capa" class="Gosling"></label><input type="file" name="capa" id="capa" required>
            DESCRIÇÃO <textarea name="sobre" id="abt" placeholder="Digite uma descrição sobre você..." maxlength="300" rows="3" required></textarea>
            NOTA: <input type="number" min="0" max="100" name="nota" placeholder="Escolha uma nota...." required>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
            <button type="submit" class="Botao"><b>CRIAR</b></button>
    </form>
        <a href=" {{ url_for('dashboard') }}"><button id="Botao"><b>VOLTAR</b></button></a>
    </div>
    <footer>
        <p>&copy;2025 - LD</p>
    </footer>
        <script>
        const inputImagem = document.getElementById('capa');
        const imgPreview = document.getElementById('Card_capa');
        inputImagem.addEventListener('change', function() {
        const arquivo = this.files[0];
        if (arquivo) {
            const leitor = new FileReader();
            leitor.onload = function(e) {
                imgPreview.src = e.target.result;
            };
            leitor.readAsDataURL(arquivo);
        }
    });
    </script>
</body>
</html>