<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Atendimentos Médicos</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='check_up.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="{{ url_for('index') }}"><img class="logo-image" src="../static/imgs/logo.png" alt="logo" id="logo"></a>
        <h1>Consultas marcadas com:</h1>
        <div></div>
    </header>
    <main class="main-content">
        {% if consultas_marcadas%}
            {% for i in range(consultas_marcadas|length) %}
                {% set consulta = consultas_marcadas[i] %}
                {% set psicologo = psicologos[i] %}
                    <div class="doctor-card">
                        <div class="doctor-image">
                            <img src="{{url_for('static',filename='uploads/'+psicologo['imagem'])}}" alt="Dr. {{psicologo['id']}}">
                        </div>
                        <div class="doctor-info">
                            <h2>Dr. {{consulta.psicologo_id}}</h2>
                            <p class="license">CRP: {{psicologo.crp}}</p>
                            <p>Data: {{consulta.data}}</p>
                            <p>Horário: {{consulta.horario}}</p>
                            <div class="divider"></div>
                        </div>
                    </div>
            {%endfor%}
        {%endif%}
    </main>
</body>
</html>