<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Editar Perfil</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='editar_perfil.css') }}" />
</head>
<body>

  <main>
    <div class="tabs">
      <button class="active">Meu Perfil</button>
      <button>Editar e alterar dados do perfil</button>
    </div>

    <section class="perfil-container">
      <form class="form-perfil" method="POST" enctype="multipart/form-data">
        <div class="foto-perfil">
          <label for="uploadFoto">
            {% if usuario.imagem %}
              <img id="imagemPreview" src="{{url_for('static',filename='uploads/'+usuario['imagem'])}}" alt="Foto de perfil" class="imagem-perfil"/>
            {% elif psicologo.imagem%}
              <img id="imagemPreview" src="{{url_for('static',filename='uploads/'+psicologo['imagem'])}}" alt="Foto de perfil" class="imagem-perfil"/>
            {% else %}
              <img src="{{ url_for('static',filename='imgs/logo2.png') }}" class="imagem-perfil">
            {% endif %}
          </label>
          <p id="alterar">Alterar foto de perfil</p>
        </div>
        <div class="inputs">
          {% if usuario %}
            <input type="file" id="uploadFoto" style="display: none;" name="foto"/>
            <label for="nome">Nome</label>
            <input type="text" id="nome" placeholder="Nome: {{usuario.nome}}" name="nome"/>
            <label for="celular">Celular</label>
            <input type="text" id="celular" placeholder="Celular: {{ usuario['celular'] }}" name="celular"/>
            <label for="email">E-mail</label>
            <input type="email" id="email" placeholder="E-mail: {{ usuario['email'] }}" name="email"/>
          {% elif psicologo %}
            <input type="file" id="uploadFoto" style="display: none;" name="foto"/>
            <label for="nome">Nome</label>
            <input type="text" id="nome" placeholder="Nome: {{psicologo.nome}}" name="nome"/>
            <label for="celular">CRP</label>
            <input type="text" id="celular" placeholder="CRP: {{ psicologo.crp }}" disabled/>
            <label for="email">E-mail</label>
            <input type="email" id="email" placeholder="E-mail: {{ psicologo.email }}" name="email"/>
            <div class="horarios">
              <label for="inicio">Inicio</label>
              <input type="time" name="inicio" id="inicio">
              <label for="fim">Fim</label>
              <input type="time" name="final" id="fim">
              <label for="intervalo">Intervalo</label>
              <select name="intervalo" id="intervalo">
                <option disabled>Selecione</option>
                <option value="30">30 minutos</option>
                <option value="60">60 minutos</option>
              </select>
            </div>
          {% endif %}
          <button type="submit">Enviar</button>
          <a href="{{ url_for('index') }}">Voltar</a>
        </div>
      </form>
      <form method="POST" onsubmit="return confirmar()">
        <input hidden value="1" name="apagar">
        <button id="apagar" type="submit">EXCLUIR CONTA</button>
      </form>
    </section>
  </main>

  <script>

    function confirmar() {
      return confirm("Tem certeza que deseja apagar a sua conta ?")
    }

    const inputFoto = document.getElementById('uploadFoto');
    const preview = document.getElementById('imagemPreview');

    inputFoto.addEventListener('change', function () {
      const file = this.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function (e) {
          preview.setAttribute('src', e.target.result);
        };
        reader.readAsDataURL(file);
      }
    });
  </script>
</body>
</html>
